body {
  background-color: blue;
  height: 100vh;
}

#grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

h1 {
  width: 600px;
  line-height: 600px;
  text-align: center;
}
.cell {
  color: white;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.cell.clicked {
  background-color: aqua;
}

.easy {
  width: calc(100% / 10);
  height: calc(100% / 10);
}
.medium {
  width: calc(100% / 9);
  height: calc(100% / 9);
}
.hard {
  width: calc(100% / 7);
  height: calc(100% / 7);
}
